<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Reimbursement</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>servlets.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/Employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>servlets.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/Manager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InvalidLoginServlet</servlet-name>
    <servlet-class>servlets.InvalidLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvalidLoginServlet</servlet-name>
    <url-pattern>/InvalidLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewReimbursementServlet</servlet-name>
    <servlet-class>servlets.NewReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewReimbursementServlet</servlet-name>
    <url-pattern>/NewReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateEmployeeInfoServlet</servlet-name>
    <servlet-class>servlets.UpdateEmployeeInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeInfoServlet</servlet-name>
    <url-pattern>/UpdateEmployeeInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ThisEmployeesPendingReimbursementsServlet</servlet-name>
    <servlet-class>servlets.ThisEmployeesPendingReimbursementsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThisEmployeesPendingReimbursementsServlet</servlet-name>
    <url-pattern>/ThisEmployeesPendingReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ThisEmployeesResolvedReimbursementsServlet</servlet-name>
    <servlet-class>servlets.ThisEmployeesResolvedReimbursementsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThisEmployeesResolvedReimbursementsServlet</servlet-name>
    <url-pattern>/ThisEmployeesResolvedReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllPendingReimbursementsServlet</servlet-name>
    <servlet-class>servlets.AllPendingReimbursementsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllPendingReimbursementsServlet</servlet-name>
    <url-pattern>/AllPendingReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllResolvedReimbursementsServlet</servlet-name>
    <servlet-class>servlets.AllResolvedReimbursementsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllResolvedReimbursementsServlet</servlet-name>
    <url-pattern>/AllResolvedReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllEmployeeInfoServlet</servlet-name>
    <servlet-class>servlets.AllEmployeeInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllEmployeeInfoServlet</servlet-name>
    <url-pattern>/AllEmployeeInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApproveReimbursementServlet</servlet-name>
    <servlet-class>servlets.ApproveReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveReimbursementServlet</servlet-name>
    <url-pattern>/ApproveReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DenyReimbursementServlet</servlet-name>
    <servlet-class>servlets.DenyReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DenyReimbursementServlet</servlet-name>
    <url-pattern>/DenyReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchReimbursementsByEmployeeServlet</servlet-name>
    <servlet-class>servlets.SearchReimbursementsByEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchReimbursementsByEmployeeServlet</servlet-name>
    <url-pattern>/SearchReimbursementsByEmployee</url-pattern>
  </servlet-mapping>
</web-app>