<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Reimbursement</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>servlets.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/Employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>servlets.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/Manager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InvalidLoginServlet</servlet-name>
    <servlet-class>servlets.InvalidLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvalidLoginServlet</servlet-name>
    <url-pattern>/InvalidLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewReimbursementServlet</servlet-name>
    <servlet-class>servlets.NewReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewReimbursementServlet</servlet-name>
    <url-pattern>/NewReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateEmployeeInfoServlet</servlet-name>
    <servlet-class>servlets.UpdateEmployeeInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeInfoServlet</servlet-name>
    <url-pattern>/UpdateEmployeeInfo</url-pattern>
  </servlet-mapping>
</web-app>