<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Employee Reimbursement Portal</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href="styles/main.css" />
	
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-expand navbar-light bg-dark">
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link active text-light" href="/Reimbursement">Home
						<span class="sr-only">(current)</span>
					</a>
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
						Log In
					</button>

					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Employee Login</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<!-- Modal Body for Employee Login -->
								<form action="Login" method="post">
									<div class="modal-body">
										<h3 style="text-align: center;">Username</h3>
										<input id="loginUsername" name="username" type=text style="width: 80%; margin-left: 10%; margin-bottom:20px;">
										<h3 style="text-align: center;">Password</h3>
										<input id="loginPassword" name="password" type=password style="width: 80%; margin-left: 10%;">
										
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										<input type="submit" id="employeeLoginButton" class="btn btn-primary" value="Log In">
									</div>
								</form>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<h1 class="text-primary">Hello World</h1>
		<p>Hello World Again</p>
	</div>

	<!-- Sandbox -->
	<input type=text id="myUserName">
	<button type="button" id="myButton">My Button</button>
	<div id="myOutput">myText</div>

	<!-- Bootstrap CDN -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	 crossorigin="anonymous"></script>
	<!-- Developer JS -->
	<script src="scripts/main.js"></script>
</body>

</html>